.post{
    width: 385px;
    margin: 0px 25px 40px 25px;
}

.postImg{
    width: 100%;
    height: 280px;
    border-radius: 7px;
    object-fit: cover;
}

.postInfo{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.postCat{
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    margin-right: 10px;
    margin-top: 12px;
    line-height: 20px;
    color: #be9656;
    cursor: pointer;
}

.postTitle{
    margin-top: 15px;
    font-family:"Josefin Sans", sans-serif ;
    font-size: 25px;
    cursor: pointer;
    font-weight: 500;
}

.postDate{
    font-style: italic;
    margin-top: 15px;
    font-family: "Lora",serif;
    font-size: 14px;
    color: gray;
}


/* The Line no 53 to 57 it is for the hidden of the extra content  
it shows the css of the hiiden desc*/
.postDesc{
    color: #444;
    line-height: 24px;
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
