.home-cont{
    width: 800px;
    margin: 10px auto;
}

.cont{
    display: flex;
    flex-direction: column-reverse;
}

.btn-cont{
    display: flex;
    align-items: center;
}

.status{
    margin-top: 20px;
    font-size: 18px;
    text-transform: capitalize;
    text-decoration: underline;
}

.btn{
    margin-top: 20px ;
    margin-right: 40px;
    padding: 10px 30px;
    font-size: 18px;
    background-color: black;
    color: white;
    border-radius: 40px;
    border: 2px solid rgb(0, 110, 255);
    cursor: pointer;
}

