.top{
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top:0;
    display: flex;
    align-items: center;
    z-index: 1;
}

.topLeft,.topRight{
    flex:3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topCenter{
    flex: 6;
    color: gray;
}

.topIcon{
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.topList{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.ListItem{
    font-size: 18px;
    margin-right: 20px;
    font-weight: 300;
    cursor: pointer;
    text-transform: uppercase;
}
.topImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit:cover;
}

.topSearchIcon{
    font-size: 18px;
    cursor: pointer;
    margin-left: 18px;
}
